<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> <!--importing google font-->
    <title>Portfolio</title>
</head>
<body style="background-color: aliceblue">
  <header>
    <a href="/" class="header">Web Portfolio</a>
    <nav>
      <ul>
        <li ><a href="./projects">Projects</a></li>
        <li ><a href="./stuff">Blog</a></li>
        <li ><a href="./contact">Contact</a></li>
      </ul>
    </nav>
  </header>

  <main>

    <section class="project-container">
      <div class="info">

      </div >
      
      <div class="pmain">
        <h2>Projects</h2>
        <p>Currently the only project I have to show off is my basic Ruby application. It's a multiple choice quiz where answering questions can help (or hinder) you take down a monster!</p>
        <img src="/assets/welcome.png" alt="Quiz welcome screen"> <br />
        <img src="/assets/questions.png" alt="Quiz questions"> <br />
        <p><a href="https://github.com/Ashamaly/Gazoot">Here's a link to the code!</a></p>
      </div>
    </section>

  </main>

  <footer>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/pages/projects.html">Projects</a></li>
      <li><a href="/pages/stuff.html">Blog</a></li>
      <li><a href="/pages/contact.html">Contact</a></li>
    </ul>

    <div class="socials">
      <a target="_blank" href="https://twitter.com/Ashley69791580">
        <img src="/assets/twitter.svg" alt="twitter-icon">
      </a>
      <a target="_blank" href="https://www.linkedin.com/in/ashley-beard-253900191/">
        <img src="/assets/linkedin.svg" alt="LinkedIn-icon">
      </a>
      <a target="_blank" href="https://github.com/Ashamaly">
        <img src="/assets/git.svg" alt="github-icon">
      </a>
    </div>

  </footer>

    

</body>
</html>